.banner{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}
.banner_pic{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}
.banner_mob_pic{
    position: relative;
    width: 100%;
    height: auto;
    display: none;
}
.banner_slogan{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left:0;
    top:23%;
}
.banner_conn{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    padding:0 80px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.banner_right{
    position: relative;
    width: 56%;
    height: auto;
    display: block;
    background-color: #fff;
    float: right;
    padding: 50px 40px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.banner_title{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    font-size: 20px;
    color: #b8a26b;
    margin-bottom:20px;
}
.banner_desc{
    position: relative;
    width: 70%;
    height: auto;
    display: block;
    font-size:14px;
    color:#58585b;
}
.banner_product{
    position: absolute;
    width: 170px;
    height:auto;
    display: block;
    right:0;
    top:0;
}

/*about start*/
.about{
    position:relative;
    width:100%;
    height: auto;
    display: block;
    padding: 50px 0;
}
.about_desc_conn{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    padding-top: 60px;
}
.about_desc_conn1,.about_desc_conn3{
    padding-left: 30px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.about_desc_conn2{
    padding-right: 30px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.about_desc_conn2,.about_desc_conn3{
    padding-top: 150px;
}
.about_desc_title{
    position: relative;
    width: 80%;
    height: auto;
    display: block;
}
.about_desc_little_title{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    font-size: 24px;
    color: #282828;
    margin:20px 0 30px 0;
}
.about_intro{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    color:#808989;
    line-height:24px;
}


.about_pic_conn{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}
.about_pic{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}
.about_pic_left{
    left:-10%;
}
.about_pic_right{
    right:-10%;
}
/*about end*/

@media screen and (min-width:1px) and (max-width:375px){
    .banner_title,.about_desc_little_title{
        font-size: 15px!important;
        margin-bottom:10px!important;
    }
    .banner_desc{
        font-size: 12px!important;
        line-height:24px!important;
    }
    .about_desc_conn{
        padding-top: 15px!important;
    }
}

@media screen and (min-width:1px) and (max-width:959px){
    .banner_pic{
        display: none;
    }
    .banner_mob_pic{
        display:block;
    }
    .banner_slogan{
        top:20%;
        padding:0 15px;
        box-sizing: border-box;
    }
    .banner_conn{
        padding: 0;
        box-sizing: border-box;
    }
    .banner_right{
        float: none;
        width:100%;
        padding:0;
        background-color: transparent;
    }
    .banner_product{
        display: none;
    }
    .banner_title{
        text-align: center;
    }
    .banner_desc{
        width:100%;
        color:#fff;
        text-align: center;
        line-height: 28px;
        opacity:0.9;
    }

    .about{
        padding:0 15px;
        box-sizing: border-box;
    }
    .about_desc_conn1, .about_desc_conn3{
        padding-left: 0;
    }
    .about_desc_conn2{
        padding-right: 0;
    }
    .about_desc_title{
        width:100%;
    }
    .about_desc_little_title{
        font-size:20px;
    }
    .about_desc_conn2, .about_desc_conn3{
        padding-top: 0;
    }
    .about_pic{
        margin-bottom: 15px;
    }
    .about_pic_right{
        right:0;
    }
    .about_pic_left{
        left:0;
    }
}

@media screen and (min-width:1400px) and (max-width:1920px){
    .banner_slogan{
        top:22%;
    }
    .banner_right{
        padding: 80px;
    }
    .banner_title{
        font-size:28px;
        margin-bottom: 30px;
    }
    .banner_desc{
        width:65%;
        font-size:15px;
        line-height: 30px;
    }
    .banner_product{
        width:300px;
    }

    .about_desc_conn1, .about_desc_conn3{
        padding-left: 0;
    }
    .about_desc_conn2{
        padding-right: 0;
    }
    .about_desc_title{
        width:100%;
    }
    .about_desc_little_title{
        font-size:28px;
    }
    .about_intro{
        line-height:30px;
    }
    .about_pic_right{
        right:-18%;
    }
    .about_pic_left{
        left:-18%;
    }
}