.banner{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 100px 0 60px 0;
    background-color: #e8edf0;
}
.banner_left_bg{
    position: absolute;
    width: 50%;
    height: 100%;
    display: block;
    left:0;
    top:0;
    background-color: #282828!important;
}
.banner_pic{
    position: relative;
    width: 90%;
    height: auto;
    display: block;
    margin-top:50px;
}
.banner_conn{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    padding: 50px 0 50px 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.banner_logo_pic{
    position: relative;
    width: 244px;
    height: auto;
    display: block;
    margin-bottom: 30px;
}
.banner_title{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    font-size: 20px;
    color:#282828;
    line-height:30px;
    margin-bottom: 20px;
}
.banner_desc{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    color:#81898e;
    line-height:24px;
}
.banner_detail_btn,.banner_detail_btn:hover{
    position: relative;
    width: auto;
    display: inline-block;
    padding: 8px 20px;
    background-color: #c2a661;
    border-radius: 30px;
    color:#fff!important;
    margin-top: 30px;
}
.arrow_icon{
    position: relative;
    width: auto;
    display: inline-block;
    padding-left: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/*joinus start*/
.joinus{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    padding: 50px 0 40px 0;
    background-color: #fff;
}
.joinus_conn{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    color:#282828;
    line-height:30px;
   /* margin-bottom: 50px;*/
}
.joinus_btn,.joinus_btn:hover{
    position: relative;
    width: auto;
    display: inline-block;
    padding: 8px 20px;
    background-color: #c2a661;
    border-radius: 30px;
    color: #fff!important;
    margin-top: 30px;
}
.joinus_pic_conn{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}
.joinus_pic{
    position: absolute;
    width: 360px;
    height: auto;
    display: block;
    vertical-align: middle;
    right:0;
   top:-40px;
}
/*joinus end*/

/*case start*/
.case{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    padding: 50px 0;
    background-color: #e8edf0;
}
.case_title{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    font-size:24px;
    color:#c2a661;
    margin-bottom: 40px;
    text-align: center;
}
.case_conn{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    background-color: #fff;
    margin-bottom: 30px;
}
.case_pic{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}
.case_list_title{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    padding: 30px 20px 15px 20px;
    font-size:18px;
    font-weight: bold;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.case_desc{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    font-size:15px;
    padding: 0 20px 30px 20px;
    color:#959595;
    line-height: 24px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/*case end*/

@media screen and (min-width:1px) and (max-width:375px){
    .banner_logo_pic{
        width: 200px!important;
    }
    .banner_title,.case_title{
        font-size: 15px!important;
        margin-bottom: 10px!important;
        line-height: 24px!important;
    }
    .case_list_title{
        font-size: 14px!important;
    }
    .case_desc{
        font-size: 12px!important;
    }
}
@media screen and (min-width:1px) and (max-width:959px){
    .banner{
        padding:0 0 30px 0;
    }
    .banner_left_bg{
        display:none;
    }
    .banner_pic_conn{
        position: relative;
        width: 100%;
        height: auto;
        display: block;
        padding: 90px 15px 30px 15px;
        background-color:#282828!important;
        box-sizing: border-box;
    }
    .banner_pic{
        width:100%;
        margin-top: 0;
    }
    .banner_conn{
        padding: 30px 15px 10px 15px;
        box-sizing: border-box;
    }
    .banner_title{
        font-size:18px;
        line-height:30px;
    }
    .banner_logo_pic{
        margin-bottom: 20px;
    }

    .joinus{
        padding: 30px 15px 0 15px;
        box-sizing: border-box;
    }
    .joinus_desc{
        line-height:24px;
    }
    .joinus_pic{
        position: relative;
        width:100%;
        height: auto;
        display: block;
        top:0;
    }

    .case{
        padding: 30px 15px;
        box-sizing: border-box;
    }
    .case_title{
        font-size:18px;
        margin-bottom: 20px;
    }
    .case_list_title{
        font-size:16px;
        padding: 20px 20px 10px 20px;
        box-sizing: border-box;
    }

}


@media screen and (min-width:1400px) and (max-width:1920px){
    .banner_title{
        font-size:25px;
        line-height: 40px;
        margin-bottom: 30px;
    }
    .banner_desc{
        line-height: 30px;
    }
    .banner_pic{
        width:120%;
        left:-30%;
        margin-top: 40px;
    }

    .banner_detail_btn, .banner_detail_btn:hover{
        padding:12px 30px;
    }
    .joinus_btn, .joinus_btn:hover{
        padding:12px 30px;
    }
    .joinus{
        padding:80px 0 60px 0;
    }
    .case{
        padding: 80px 0;
    }
    .case_title{
        font-size: 30px;
        margin-bottom: 60px;
    }
    .case_list_title{
        font-size:18px;
    }
    .case_desc{
        line-height: 30px;
    }
}