.fullPage{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
    z-index:20;
}
.section{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    z-index:20;
}

/* section one */
.section_one{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
 /*   background-color:;*/
    background: #000000 url("../img/safe/safe_first_bg.jpg") no-repeat center center;
    padding-top:14%;
    overflow:hidden;
    background-size: 100% 100%;
}
.section_one_top{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    opacity:0;
}
.section1 .section_one_top{
    opacity: 1;
    animation: fadeInDown 1.5s both;
}
.section_one_title{
    position: relative;
    width: 100%;
    height: auto;
    display:block;
    font-size: 24px;
    color: #b8a26b;
    margin-bottom: 30px;
    text-align: center;
}
.section_one_desc{
    position: relative;
    width: 54%;
    height: auto;
    display: block;
    margin: 0 auto 30px auto;
    color: #ffffff;
    opacity: 0.85;
    line-height: 30px;
    text-align: center;
}

/* section two */
.section_two{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    background-color:#000000;
    padding-top:12%;
    overflow:hidden;
}
.section_two_top{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    opacity:0;
}
.section2 .section_two_top{
    opacity: 1;
    animation: fadeInDown 1.5s both;
}
.section_two_title{
    position: relative;
    width: 100%;
    height: auto;
    display:block;
    font-size: 24px;
    color: #b8a26b;
    margin-bottom: 30px;
    text-align: center;
}
.section_two_desc{
    position: relative;
    width: 54%;
    height: auto;
    display: block;
    margin: 0 auto 30px auto;
    color: #ffffff;
    opacity: 0.85;
    line-height: 30px;
    text-align: center;
}
.section_two_img{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    opacity:0;
}
.section2 .section_two_img{
    animation: fadeInUp 1.2s both;
    opacity: 1;
}
.section_two_pic{
    position: relative;
    width: 80%;
    height: auto;
    display: block;
    margin:0 auto;
}

/* section three */
.section_three{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    background-color:#151515;
    padding-top:12%;
    overflow:hidden;
}
.section_three_conn{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}
.section_three_left{
    position: relative;
    width: 40%;
    height: auto;
    display: block;
    float: right;
    opacity:0;
}
.section3 .section_three_left{
    opacity: 1;
    animation: fadeInDown 1.5s both;
}
.section_three_title{
    position: relative;
    width: 100%;
    height: auto;
    display:block;
    font-size: 24px;
    color: #b8a26b;
    margin-bottom: 30px;
    text-align: left;
}
.section_three_desc{
    position: relative;
    width: 91%;
    height: auto;
    display: block;
    margin-bottom: 30px;
    color: #ffffff;
    opacity: 0.85;
    line-height: 30px;
    text-align: left;
}
.section_three_right{
    position: relative;
    width: 56%;
    height: auto;
    display: block;
    float: left;
    margin-top: -2%;
    opacity:0;
}
.section3 .section_three_right{
    animation: fadeInUp 1.2s both;
    opacity: 1;
}
.section_three_pic{
    position: relative;
    width: 75%;
    height: auto;
    display: block;
}
.section_three_conn:after{
    content: "";
    display:block;
    clear:both;
}

/* section four */
.section_four{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #050606;
    padding-top:12%;
    overflow:hidden;
}
.section_four_conn{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    opacity:0;
}
.section4 .section_four_conn{
    opacity: 1;
    animation: fadeInDown 1.5s both;
}
.section_four_title{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    font-size: 24px;
    color: #b8a26b;
    margin-bottom: 30px;
    text-align: left;
}
.section_four_list{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}
.section_four_item{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    font-size:16px;
    line-height:24px;
    color:#848484;
    padding-left: 30px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.section_four_item1{
    height:10px;
}
.section_four_small_title{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    font-size:18px;
    color:#b8a26b;
    line-height:30px;
}
.section_four_small_title:before{
    content: "";
    position: absolute;
    width:20px;
    height: 2px;
    display: block;
    background-color: #848484;
    left:-30px;
    top:15px;
}
.section_four_img{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    opacity:0;
}
.section4 .section_four_img{
    animation: fadeInUp 1.2s both;
    opacity: 1;
}
.section_four_pic{
    position: relative;
    width: 55%;
    height: auto;
    display: block;
}

@media screen and (min-width:1px) and (max-width:375px){
    .section_four_title,.section_one_title,.section_two_title,.section_three_title{
        font-size:15px!important;
        margin-bottom: 10px!important;
    }
    .section_four_small_title{
        font-size: 12px!important;
        line-height: 24px!important;
    }
    .section_four_item{
        line-height: 24px!important;
    }
    .section_four_item1{
        height: 2px!important;
    }
    .section_two{
        padding-top: 35%!important;
    }
    .section_two_desc,.section_three_desc{
        margin-bottom: 15px!important;
    }
    .section_three_right{
        margin-top: 10%!important;
    }
    .section_three_pic{
        width: 80%!important;
        margin: 0 auto;
    }
    .section_four_small_title:before{
        top:10px!important;
    }
    .section_three{
        padding-top: 32%!important;
    }
    .section_four_item{
        font-size:13px!important;
    }
}
@media screen and (min-width:1px) and (max-width:959px){
    .section{
        padding-left:15px;
        padding-right:15px;
        box-sizing: border-box;
    }
    .section_one{
        background: #000000 url("../img/safe/safe_first_mob_bg.jpg") no-repeat center center;
        padding-top: 40%;
        /*background-size:100% 100%;*/
    }
    .section_one_title{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .section_one_desc{
        width:100%;
        line-height: 24px;
    }
    .section_two{
        padding-top: 40%;
    }
    .section_two_title{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .section_two_desc{
        width:100%;
        line-height: 24px;
    }
    .section_two_pic{
        left: -10%;
        width: 120%;
    }

    .section_three{
        padding-top: 36%;
    }
    .section_three_left{
        float: none;
        width: 100%;
    }

    .section_three_right{
        float: none;
        width:100%;
    }
   .section_three_title{
       font-size: 20px;
       margin-bottom: 15px;
       text-align: center;
    }
    .section_three_desc{
        line-height: 24px;
        text-align: center;
        margin-bottom:36px;
    }
    .section_three_pic{
        width: 100%;
    }
  /*  .section_three_left{
        margin-bottom: 3%;
    }*/

    .section_four{
        padding-top: 30%;
    }
    .section_four_conn{
        z-index:50;
    }
    .section_four_title{
        font-size: 20px;
        margin-bottom: 15px;
        text-align: left;
    }
    .section_four_item{
        font-size:14px;
    }
    .section_four_small_title{
        font-size:16px;
    }
    .section_four_mob_pic{
        position: absolute;
        width: 90%;
        height: auto;
        display: block;
        bottom:0;
        right: 0;
        opacity:0.15;
        z-index:20;
    }
}

@media screen and (min-width:1400px) and (max-width:1920px){
    .section_one_title,.section_two_title,.section_three_title,.section_four_title{
        font-size:30px;
        margin-bottom:50px;
    }
    .section_one{
        padding-top:14%;
    }
    .section_two_pic{
        width:100%;
        margin-top:8%;
    }
    .section_three_left{
        padding-top: 14%;
    }
    .section_three_right{
        margin-top:0;
    }
    .section_three_pic{
        width:100%;
    }
    .section_four_pic{
        width:80%;
        margin-top:-5%;
        left:20%;
    }
    .section_four_item1{
        height:20px;
    }
}